@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a0437 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none !important;
  text-shadow: 2px 1px 0px black !important;
}

a {
  text-decoration: none !important;
  color: whitesmoke;
  text-shadow: 2px 3px 0px black !important;
}
